@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f6fa;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex_row_center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.space_between {
  justify-content: space-between;
}

.list_style_none {
  list-style: none;
}

header {
  background-color: #fff;
  border-bottom: solid 0.125rem #e8e8e8;
}

nav {
  height: 5.938rem;
  margin: 0 auto;
  padding: 1.688rem 0;
  max-width: 75rem;
  flex-wrap: wrap;
}

.text_logo {
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  color: #0290ff;
}

.text_nav_active,
.text_nav {
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  letter-spacing: 1.9px;
  color: #121212;
  margin: 0 2.563rem;
}

.text_nav {
  margin: 0;
  color: #888;
}

main {
  max-width: 75rem;
  margin: 2.375rem auto;
  padding-bottom: 18rem;
}

.book_list {
  padding-bottom: 2.5rem;
  border-bottom: 0.125rem solid #e8e8e8;
}

.book_list_item {
  margin-top: 0.938rem;
  min-height: 10.625rem;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.book_list_item .left {
  min-height: 100%;
}

.book_list_item .right {
  align-self: center;
}

.category_text {
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  color: #121212;
}

.book_title_text {
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: #121212;
}

.small_text {
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #4386bf;
}

.book_control_list button {
  background: none;
  border: none;
}

.book_control_list li:nth-child(2) {
  border-right: 0.125rem solid #e8e8e8;
  border-left: 0.125rem solid #e8e8e8;
  padding: 0 0.938rem;
  margin: 0 0.938rem;
}

.percent {
  padding-right: 5rem;
  border-right: solid 0.125rem #e8e8e8;
}

.percent svg {
  width: 4.25rem;
  height: 4.25rem;
  transform: rotate(-90deg);
}

.percent svg circle {
  width: 4.25rem;
  height: 4.25rem;
  fill: none;
  stroke-width: 5;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

.percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

.percent svg circle:nth-child(2) {
  stroke: #379cf6;
}

.book_percent {
  margin-left: 1.313rem;
}

.book_percent .number {
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #121212;
}

.book_percent .text {
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  color: #121212;
}

.book_chapter {
  margin-left: 3.688rem;
}

.book_chapter small {
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  color: #121212;
  text-transform: uppercase;
}

.book_chapter p {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #121212;
}

.book_chapter button {
  margin-top: 1.438rem;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  background-color: #0290ff;
  font-family: 'Roboto Slab', serif;
  border: none;
  color: #fff;
  font-size: 0.813rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.book_form_container {
  margin-top: 1.813rem;
}

.book_form_container h2 {
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
  text-transform: uppercase;
}

.book_form_container select {
  width: 100%;
  max-width: 10rem;
  padding: 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.book_form_container form {
  margin-top: 1.188rem;
}

.book_form_container form .title_input {
  width: 100%;
  max-width: 41.5rem;
  padding: 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.book_form_container form .author_input {
  width: 100%;
  max-width: 10rem;
  padding: 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.book_form_container form button {
  padding: 0.801rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border: none;
}
